@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next,
.swiper-button-prev {
   
    /* right:10px; */
    width: 20px !important;
    height: 20px !important;
    padding: 30px !important;

    color:rgb(48, 47, 47) !important;
    fill: black !important;
    stroke: black !important;
}

.bgimg{
  background-image: url('https://cdn.britannica.com/94/192794-050-3F3F3DDD/panels-electricity-order-sunlight.jpg');
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  
}

body{
  background-color: #eff8f3;
  overflow-x: hidden;
}


/* hide input arrow  */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* hide input arrow  */

.custom-shape-divider-top-1722285751 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
  height: 600px;
}

.custom-shape-divider-top-1722285751 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 600px;
}

.custom-shape-divider-top-1722285751 .shape-fill {
  fill: #50E3C2;
}